// Universal Affects
body{
    font-family: 'Piazzolla', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:focus{
    outline: none;
}

button{
    font-family: 'Piazzolla', serif;
}

a:hover,a{
    text-decoration: none;
}

// For Products
#products{
    .item-one{
        // transition: Default Value Duration
        // transition-timing-function:ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
        transition: all 2s ease;

        min-height: 40vh;
        background-color: lightgoldenrodyellow;
        overflow: hidden;
    }

    .item-one:hover{
        img{
            // Zoom-In Effect
            transform: scale(1.2);
        }
    }

    .mar{
        margin-top: 4rem;
    }

    .card-body{
        .btn{
            // border:size style color
            border: 2px solid gray;
            
            height: 6vh;
            padding: 8px;
        }
    }
}

// Media Queries
@media screen and (max-width:768px){
    .card-body{
        .btn{
            height: 5vh;
            padding:3px ;
        }
    }
}